@import "../../../styles/variables.module.scss";

.container{
    display: flex;
    margin-top: 3rem;
    & .containerHeader{
        flex-basis: 20%;
        @media (min-width: $lg) {
            margin-right: 2rem;
        }
    }
    & .containerFilters{
        flex-basis: 80%;
    }

}