@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif:wght@300;400;600&display=swap');

h1,
h2,
h3 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 600;
  color: #254051;
  line-height: 48px;
}


h4,
h5,
h6 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}